.book {
	align-content: center;
	border: 2px solid rgb(146, 88, 65);
	

	width: 500px;
	
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	text-align: left;
	margin-left: 25%;
	
}
.containerr{
	text-align: center;
	
	
	

}
